nav.navbar
  ul.nav.navbar-nav
    li.nav-item = link "Todo", to: page_path(@conn, :index), class: "btn btn-primary"
    li.nav-item = link "About", to: page_path(@conn, :about), class: "btn btn-primary"
